*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height:100px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
    clear:both;
    font-size: 0;
}

.header ul{
    text-decoration: none;
}

.header ul li{
    display: inline-block;
    font-size: 24px;
}

.invoice-table{
    border-collapse: collapse;
    border:1px solid #999;
}

.invoice-table td{
    border:1px solid #999;
}

